@model IEnumerable<GestaoJogosUI.Models.JogoViewModel>
@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <div class="col-lg-8">
        <h2>Emprestados</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amigo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item1 in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item1.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item1.Amigo.Nome)
                        </td>
                        <td>
                            <a asp-action="Devolver" asp-route-id="@item1.ID">Devolver</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <h2>Com você</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.jogoscomvoce as IEnumerable<GestaoJogosUI.Models.JogoViewModel>)
                {
                    <tr asp>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            <a asp-action="Emprestar" asp-route-id="@item.ID">Emprestar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
